<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/css/style.css'|url }}">
<link rel="icon"
  href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>😺</text></svg>">
<title>{% block title %}Welcome{% endblock %} — kytym</title>
<body>
  <header>
    <h1><a href="{{ '/'|url }}">😺 kytym</a></h1>
    <nav>
      <ul class="navbar">
        {% for href, title in [
          ['/projects', 'Projects'],
          ['/about', 'About']
        ] %}
          <li><a {% if this.is_child_of(href) %} class="active"{% endif
            %}href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    &copy; Copyright 2024 by <a href="https://lgrobol.bzh">L. Grobol</a>.
  </footer>
</body>
