body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 99vh;
}

header,
footer,
div.page {
    width: 100%;
    max-width: 760px;
}

footer { 
    margin-top: auto;
}

header {
    border-bottom: 1px solid #ededf0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    h1 {
        display: inline-flex;
        margin: 0;
    }

    nav {
        display: inline-flex;
        margin: 0;
        ul {
            display: inline-flex;
            gap: 1em;
            list-style: none;
            margin: 0;
        }
    }
}