@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/libertinus-serif');
@import url('https://fonts.cdnfonts.com/css/fantasque-sans-mono');


$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: "Atkinson Hyperlegible", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$serif : "Libertinus Serif", Georgia, Times, serif;
$monospace : "Fantasque Sans Mono", Monaco, Consolas, "Lucida Console",
monospace;
$accentColor: #6F00FF;
$mutedColor: #6c757d;

body {
    background: $backgroundColor;
    color: $bodyColor;
    font-family: $bodyFont;
}

a {
    color: $accentColor;
    text-decoration: none;
    &:hover{
        color: $accentColor;
        text-decoration: underline;
    }
}

header{
    font-size: 1.75rem;
    a{
        text-decoration: none;
        &:visited {
            color: inherit;  // Disable the visited look
        }
    }
    h1 {
        color: $accentColor;
        font-size: 1.25em;
        font-weight: 400;
    }

    .navbar a {
        color: $bodyColor;
        &:hover, &.active{
            color: $accentColor;
        }
    }
}

footer {
    color: $mutedColor;
}